<h1> Bienvenue sur notre questionnaire</h1>

<%= link_to new_user_path, remote: true do %>
  <button class="btn btn-primary">Démarrer le questionnaire</button>
<% end %>

<div id="q-form" style="display:none;"></div>

<h1 id="wf" style="opacity:0; width: 600px; margin-top:1.1em; display:none; margin-bottom:1em">Merci </h1>
</div>
